/* Generator CSS */

.generator-container {
    display: flex;
}

.map {
    border: 1px solid black;
    background-color: #ffffff;
    color: #830071
}

.color-select {
    display: flex;
    flex-flow: column wrap;
}

.color {
    display: flex;
}

.swatch {
    width: 24px;
    height: 24px;
    margin: 10px;
    border: 1px solid black;
}

.swatch:hover {
    border: 2px solid red;
    margin: 9px;
}

.swatch-selected {
    width: 24px;
    height: 24px;
    margin: 9px;
    border: 2px solid blue;
}

.color p {
    align-self: center;
}

.color #transparent {
    background: linear-gradient(#facdcd, #ff9696)
}

.color #orange {
    background-color: rgb(255, 165, 0);
}

.color #blue {
    background-color: rgb(0, 0, 255);
}


.color #black {
    background-color: black;
}

/* Output */

.output {
    display: flex;
    height: 32px;
}

.output p {
    align-self: center;
    margin-left: 4px;
    margin-right: 4px;
}

.steps {
    margin-left: 4px;
}

.path {
    margin-left: 4px;
}

.generate-btn {
    height: 24px;
    margin: 10px;
    align-self: center;
}

/* Settings */

.settings {
    display: flex;
}

.parameters {
    margin: 5px;
    display: flex;
    width: 160px;
    flex-flow: row wrap;
}

.parameters p {
    margin: 2px;
}

#stepDelay {
    width: 100%;
}

#tileSlider {
    width: 100%;
}

#precSlider {
    width: 100%;
}

.cost-calc {
    margin: 5px;
    width: 128px;
}

.cost-calc p {
    margin: 2px;
}